// Core Colors
$black: #242E35;
$blue: #2693D5;
$bluemoon: #BFDEEC;
$moon: #EBF1F4;
$white: #FFFFFF;

// Core Secondary Colors
$green: #26B548;
$red: #DD2728;
$yellow: #FED049;
$orange: #FD7F3B;

// Core Tertiary Colors
$purple: #7049A3;
$teal: #41B7CC;
$pink: #D96EAE;
$salmon: #E16070;
$grass: #2CBF6D;
$mustard: #EFC663;

// Core Grayscale Colors
$rhino: #4B555B;
$rabbit: #737C81;
$rat: #9BA3A7;
$mouse: #C3CACD;
$mite: #f7f9fa;