.daterange {
  position: relative;
  padding: rem(10 0);
  float: right;

  .dr-input {
    display: flex;
    border: 1px solid $mouse;
    border-radius: $radius;
    background-color: $white;
    position: relative;
    z-index: 5;
    overflow: hidden;

    &:hover {
      border-color: $blue;
    }
    &.active {
      box-shadow: 0px 2px 3px $moon;
      border-color: $blue;
    }
    .dr-dates {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 rem(24) 0 rem(12);
      min-width: 230px;

      .dr-date {
        font-size: rem(15);
        height: rem(35);
        line-height: rem(35);
        text-align: center;

        &:hover, &:focus, &.active {
          color: $blue;
        }
      }
      .dr-dates-dash {
        color: $mouse;
        position: relative;
        top: -2px;
        padding: 0 5px;
        flex-grow: 0;
        text-align: center;
      }
    }
    .dr-presets {
      width: rem(35);
      border-left: 1px solid $mouse;
      flex-shrink: 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;

      &:hover, &.active {
        border-color: $blue;
        box-shadow: inset 0 2px 3px $moon;

        .dr-preset-bar {
          background-color: $blue;
        }
      }
      .dr-preset-bar {
        height: 2px;
        background-color: $mouse;
        margin: 1px 0 1px 25%;

        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2) {
          width: 40%;
        }
        &:nth-child(3) {
          width: 30%;
        }
      }
    }
  }


  .dr-selections {
    position: absolute;

    .dr-calendar {
      background-color: $white;
      font-size: rem(15);
      box-shadow: 0 0 5px $mouse;
      border-radius: 0 0 $radius $radius;
      position: relative;
      overflow: hidden;
      z-index: 4;
      padding-top: 5px;
      top: -5px;
      left: 4px;
      transition: width .2s;

      .dr-range-switcher {
        display: flex;
        justify-content: space-between;
        padding: rem(6 8);
        font-size: rem(14);

        .dr-switcher {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid rgba($mouse, 0.5);
          border-radius: $radius;
          height: rem(25);

          i {
            color: $mouse;
            position: relative;
            top: 1px;
            cursor: pointer;
            font-size: rem(12);
            padding: rem(0 4);

            &:hover {
              color: $blue;
            }
            &.dr-disabled {
              pointer-events: none;
              opacity: 0;
            }
          }
        }
        .dr-month-switcher {
          width: 100%;
          margin-right: rem(6);
        }
        .dr-year-switcher {
          min-width: 80px;
        }
      }
      .dr-days-of-week-list {
        display: flex;
        background-color: $moon;
        font-size: rem(10);
        color: $rat;
        padding: rem(5 0);
        border: 1px solid rgba($mouse, 0.5);
        border-left: none;
        border-right: none;

        .dr-day-of-week {
          width: calc(100% / 7);
          text-align: center;
        }
      }
      .dr-day-list {
        display: flex;
        flex-wrap: wrap;
        font-size: rem(15);

        .dr-day {
          padding: rem(5);
          text-align: center;
          width: calc(100% / 7);
          cursor: pointer;

          &.hover:not(.dr-current) {
            background-color: $moon !important;
          }
          &.hover-before {
            border-left: 2px solid $blue !important;
            border-radius: 2px 0 0 2px;
            padding-left: rem(3) !important;
          }
          &.hover-after {
            border-right: 2px solid $blue !important;
            border-radius: 0 2px 2px 0;
            padding-right: rem(3) !important;
          }
        }
        .dr-selected, .dr-start, .dr-end {
          background-color: $moon;
        }
        .dr-maybe {
          background-color: $moon !important;
        }
        .dr-fade {
          color: $mouse;
        }
        .dr-start {
          border-left: 2px solid $blue;
          border-radius: 2px 0 0 2px;
          padding-left: rem(3);
        }
        .dr-end {
          border-right: 2px solid $blue;
          border-radius: 0 2px 2px 0;
          padding-right: rem(3);
        }
        .dr-current {
          color: $blue !important;
          background-color: rgba($blue, 0.2) !important;
        }
        .dr-outside {
          pointer-events: none;
          cursor: default;
          background-color: rgba($red, 0.1);
          color: rgba($red, 0.2);
        }
      }
    }

    .dr-preset-list {
      background-color: $white;
      color: $blue;
      font-size: rem(15);
      box-shadow: 0 0 5px $mouse;
      border-radius: 0 0 $radius $radius;
      position: relative;
      overflow: hidden;
      z-index: 4;
      padding-top: 5px;
      top: -5px;
      left: 4px;
      width: 100%;
    }
    .dr-list-item {
      display: flex;
      align-items: flex-end;
      padding: rem(12 10);
      border-bottom: 1px solid $moon;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        background-color: $moon;
      }
      .dr-item-aside {
        color: $rat;
        font-size: rem(12);
        margin-left: rem(5);
      }
    }
  }
}